body{
    background-color: #fdcccc;
    font-family: 'Ubuntu', sans-serif;
   	color: #d14e4e;
}

h2{
	font-size: 28px;
	margin-bottom: 30px;
}

label{
	font-weight: 500;
}

.main {
	height: 500px;
    background-color: #FFFFFF;
    margin :80px auto;
    border-radius: 25px;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.submit {
      	cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: linear-gradient(to right, #d14e4e, #f24848);
        border: 0;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 14px;
        font-weight: 700;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }
